<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="orz.yanagin.android.mns.pro"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <!-- ネットワークの設定の切り替え/参照のパーミッション -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <!-- バイブレーションを利用するパーミッション -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- システム設定で利用するパーミッション -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <!-- Activity -->

        <!-- 起動時に実行されるアクティビティ -->
        <activity
            android:name="orz.yanagin.android.mns.StartupActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- モバイルネットワークの切り替えを行うアクティビティ -->
        <activity
            android:name="orz.yanagin.android.mns.controllers.MobileNetworkSwitchActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!-- 設定画面のアクティビティ -->
        <activity
            android:name="orz.yanagin.android.mns.configurations.ConfigurationActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- 連携するアプリケーションを選択するアクティビティ -->
        <activity
            android:name="orz.yanagin.android.mns.configurations.ConjunctionApplicationSettingActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- 連携するアプリケーションを起動するアクティビティ -->
        <activity
            android:name="orz.yanagin.android.mns.configurations.ConjunctionApplicationStartActivity" >
        </activity>


        <!-- Widget -->

        <!-- モバイルネットワークの切り替えを行うウィジェット -->
        <receiver
			android:name="orz.yanagin.android.mns.controllers.widget.MobileNetworkSwitchWidget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
			    android:resource="@xml/widget"
			    android:updatePeriodMillis="0"/>
        </receiver>


        <!-- BroadcastReceiver -->

        <!-- システム起動時に呼ばれるBroadcastReceiver -->
        <receiver
			android:name="orz.yanagin.android.mns.receivers.BootCompletedReceiver"
			android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
        </receiver>

        <!-- モバイルネットワーク変更要求時に呼ばれるBroadcastReceiver -->
        <receiver
			android:name="orz.yanagin.android.mns.receivers.MobileNetworkConnectRequestReceiver">
			<intent-filter>
				<action android:name="jp.co.nttdocomo.carriermail.APP_LINK_NEW_MESSAGE"/>
			</intent-filter>
			<intent-filter>
				<action android:name="orz.yanagin.android.mns.receivers.MobileNetworkSwitchRequestReceiverBase.MOBILE_NETWORK_CONNECT_REQUEST_ACTION"/>
			</intent-filter>
        </receiver>
        <receiver
			android:name="orz.yanagin.android.mns.receivers.MobileNetworkDisonnectRequestReceiver">
			<intent-filter>
				<action android:name="orz.yanagin.android.mns.receivers.MobileNetworkSwitchRequestReceiverBase.MOBILE_NETWORK_DISCONNECT_REQUEST_ACTION"/>
			</intent-filter>
        </receiver>


        <!-- Service -->

        <!-- ウィジェットをコントロールするサービスクラス -->
        <service
           	android:name="orz.yanagin.android.mns.controllers.widget.MobileNetworkSwitchWidgetService">
        </service>

        <!-- 通知領域をコントロールするサービスクラス -->
        <service
           	android:name="orz.yanagin.android.mns.controllers.notification.MobileNetworkSwitchNotificationService">
        </service>
    </application>
</manifest>